body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    background-color: #84DCC6;
    color: white;
    text-align: center;
    padding: 20px;
}


.container {
    background-color: red;
    opacity: 0,5;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}


footer {
    background-color: #A5FFD6;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}